/// ОБНУЛЕНИЕ СТИЛЕЙ ///

@import "nullstyle.scss";

/// МИКСИНЫ ///

@import "mixins.scss";

/// ПОДКЛЮЧЕНИЕ ШРИФТОВ ///

@import "fonts.scss";

/// ПЕРЕМЕННЫЕ ///

// АДАПТИВ
$minW: 320px;
$maxW: 1920;
$maxWC: 1170;
$md1: $maxWC + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// MAIN COLORS
$c1: #bf953f;
$c2: #aa771c;
$c3: #333333;
$c4: #d6d6d6;
$c5: #b8b8b8;

// ШРИФТ ПО УМОЛЧАНИЮ
$ff: "Gilroy";

/// ОСНОВНАЯ СЕТКА ///
body {
	font-family: $ff;
}
h1,
h2 {
	font-weight: 700;
	letter-spacing: 0.1em;
}
h2 {
	display: inline-block;
}
a {
	transition: 0.3s;
	&:hover {
		color: $c1;
		text-decoration: underline;
	}
	&:active {
		color: $c2;
	}
}

.container {
	max-width: $maxWC + px;
	margin: 0 auto;
	width: 100%;
}
.subtitle {
	font-size: 21px;
	line-height: 140%;
	text-align: center;
	margin-bottom: 15px;
}
.title {
	font-size: 30px;
	line-height: 41px;
	text-align: center;
	margin-bottom: 60px;
	transition: 0.4s;
	&:hover {
		color: #bf953f;
		transform: scale(1.1);
	}
}

////////////////////////////////////////////

////////////////////////////////////////////

////////////////////////////////////////////

/// ПОДКЛЮЧЕНИЕ СЕКЦИЙ ///
@import "header.scss";
@import "main.scss";
@import "category.scss";
@import "oursalons.scss";
@import "advice.scss";
@import "socials.scss";
@import "mailing.scss";
@import "footer.scss";
@import "listing.scss";
