@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "GR";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  cursor: default;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("../fonts/NotoSerif-Bold.woff") format("woff"), url("../fonts/NotoSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Gilroy";
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  color: #bf953f;
  text-decoration: underline;
}

a:active {
  color: #aa771c;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.1em;
}

h2 {
  display: inline-block;
}

.container {
  max-width: 1146px;
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
}

.subtitle {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 15px;
}

.title {
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 60px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.title:hover {
  color: #bf953f;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.firstscreen {
  position: relative;
  background: url("../img/topbackground.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.header__wrapper {
  padding: 15px 0;
  min-height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 21px;
}

.header__wrapper a {
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__wrapper a:hover {
  color: #bf953f;
  text-decoration: underline;
}

.header__wrapper a:active {
  color: #aa771c;
}

.header__menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-list ul li:nth-child(-n + 5) {
  margin-right: 75px;
}

.header__menu-list ul li:nth-child(n + 5):nth-child(-n + 6) {
  margin-right: 26px;
}

.header__menu-list ul li:nth-child(n + 6):nth-child(-n + 7) {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__menu-list ul li:nth-child(n + 6):nth-child(-n + 7):hover {
  stroke: #bf953f;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.header__menu-list ul li:nth-child(n + 6):nth-child(-n + 7):active {
  stroke: #aa771c;
}

.header__menu-list svg {
  width: 16px;
  height: 16px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search:hover svg {
  stroke: #bf953f;
}

.header__search:active svg {
  stroke: #aa771c;
}

.header__search svg {
  width: 18px;
  height: 18px;
  margin: 2px 16px 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger {
  display: none;
}

.main__top {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main__top h1 {
  min-width: 730px;
  font-size: 36px;
  line-height: 49px;
  color: white;
  margin-bottom: 50px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.main__top h1:hover {
  color: #bf953f;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.main__btn {
  padding: 15px 35px;
  margin-bottom: 80px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  border: 1px solid #ffffff;
  -webkit-transition: color 0.1s, -webkit-transform 0.5s;
  transition: color 0.1s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, color 0.1s;
  transition: transform 0.5s, color 0.1s;
  transition: transform 0.5s, color 0.1s, -webkit-transform 0.5s;
}

.main__btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #bf953f;
  border: 1px solid #bf953f;
}

.main__btn:active {
  color: #aa771c;
  border: 1px solid #aa771c;
}

.main__bottom {
  max-width: 1110px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.swiper-wrapper {
  padding: 30px 0;
}

.swiper-pagination-bullet-active {
  background: #bf953f !important;
}

.category__wrapper {
  padding: 50px 0;
  text-align: center;
}

.category__title {
  color: #333333;
}

.category__listing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 25px;
  width: 350px;
  height: 280px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}

.category__listing-item img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category__listing-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333));
  background: -o-linear-gradient(top, rgba(180, 180, 180, 0) 20.31%, #333333 100%);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%);
  opacity: 0.8;
  z-index: 1;
  -webkit-transform: 0.4s;
      -ms-transform: 0.4s;
          transform: 0.4s;
}

.category__listing-item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.category__listing-item:hover p {
  color: #bf953f;
}

.category__listing-item p {
  position: absolute;
  top: 222px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 2;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* Стили для списка вкладок */

.tab-header {
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Стили для вкладки */

.tab-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 165px;
  height: 61px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #f9f9f9;
  border: 1px solid #d6d6d6;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.tab-header__item::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  border: 1px solid #d6d6d6;
  z-index: -1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.tab-header__item:active {
  top: 3px;
}

.tab-header__item:active::after {
  top: 0;
  left: 0;
}

.tab-header__item:focus:not(:active)::after {
  top: 0;
  left: 0;
}

.tab-header__item:focus:not(:active),
.tab-header__item:hover {
  color: #ffffff;
  background-color: black;
  color: #bf953f;
}

.tab-header__item.active {
  background-color: black;
  color: #bf953f;
}

.tab-header__item.active::after {
  display: none;
}

.tab-content__item {
  display: none;
}

.tab-content__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-content__item-wrapper {
  margin: 0 10px;
  max-width: 350px;
  width: 100%;
}

.active {
  top: 0;
  left: 0;
}

.oursalons {
  color: white;
  background: url("../img/oursalonsbg.png") center/cover no-repeat;
}

.oursalons__wrapper {
  text-align: center;
  padding: 50px 0 60px 0;
}

.oursalons__text {
  max-width: 730px;
  font-size: 18px;
  line-height: 140%;
  margin: 0 auto;
}

.oursalons__btn {
  margin-top: 60px;
  text-align: center;
  width: 224px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.oursalons__btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #bf953f;
  border: 1px solid #bf953f;
}

.oursalons__btn:active {
  color: #aa771c;
  border: 1px solid #aa771c;
}

.advice__wrapper {
  padding: 50px 0;
  text-align: center;
}

.advice__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.advice__items a {
  margin: 0 20px;
}

.advice__items a:nth-child(1) {
  margin-left: 0;
}

.advice__items a:nth-child(3) {
  margin-right: 0;
}

.advice__items a:nth-child(4) {
  display: none;
}

.advice__items-item {
  max-width: 350px;
  height: 370px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.advice__items-item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.advice__items-item img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advice__items-item p {
  position: absolute;
  bottom: 10%;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: white;
  z-index: 2;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.advice__items-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333));
  background: -o-linear-gradient(top, rgba(180, 180, 180, 0) 20.31%, #333333 100%);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%);
  opacity: 0.8;
  z-index: 1;
}

.advice__btn {
  width: 255px;
  height: 51px;
  background: #333333;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.advice__btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #bf953f;
  border: 1px solid #bf953f;
}

.advice__btn:active {
  color: #aa771c;
  border: 1px solid #aa771c;
}

.socials__wrapper {
  padding: 50px 0;
  text-align: center;
}

.socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__items iframe {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
  height: 300px;
}

.socials__items a {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.socials__items a img {
  width: 100%;
  height: 300px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.socials__items a img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.mailing {
  color: white;
  background: url("../img/oursalonsbg.png") center/cover no-repeat;
}

.mailing__wrapper {
  padding: 50px 0 60px 0;
  text-align: center;
}

.mailing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailing__items ul {
  font-size: 18px;
  line-height: 140%;
  margin-right: 130px;
  text-align: left;
}

.mailing__items ul li {
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mailing__items ul li::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/icons/icons.svg#subscribe") 0 0/cover no-repeat;
  margin-right: 15px;
}

.mailing__items ul li:last-child {
  margin-bottom: 0;
}

.mailing__form {
  max-width: 418px;
  width: 100%;
  background-color: white;
  padding: 20px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 0;
}

.mailing__form::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 448px;
  height: 113px;
  border: 1px solid #bf953f;
  z-index: -1;
}

.email {
  width: 200px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  margin-right: 15px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 15px 20px 14px 20px;
}

.email:hover {
  -webkit-box-shadow: 0 0px 4px #bf953f;
          box-shadow: 0 0px 4px #bf953f;
}

.email:focus {
  -webkit-box-shadow: 0 0px 4px #aa771c;
          box-shadow: 0 0px 4px #aa771c;
}

.email:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.email:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}

.email:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.4s ease;
  transition: 0.4s ease;
}

.email:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.4s ease;
  transition: 0.4s ease;
}

.email:focus::placeholder {
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.email::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.email::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.email:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.email::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.email::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
}

.submit {
  width: 159px;
  height: 45px;
  background: #333333;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.submit:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #bf953f;
  border: 1px solid #bf953f;
}

.submit:active {
  color: #aa771c;
  border: 1px solid #aa771c;
}

.footer__title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 30px;
  width: 255px;
}

.footer h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer h3:hover {
  color: #bf953f;
}

.footer__wrapper {
  padding: 50px 0 40px 0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__items-item ul:last-child {
  margin-bottom: 0;
}

.footer__items-item ul li {
  margin-bottom: 15px;
}

.footer__items-item p {
  max-width: 255px;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
}

.footer__items-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__items-item img {
  width: 45px;
  height: 30px;
  margin-right: 20px;
}

.footer__items-item:nth-child(2) a {
  display: inline-block;
}

.footer__items-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item-contact::before {
  content: url(../img/icons/icons.svg#old-phone);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.footer__item-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item-mail::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icons.svg#mail") 0 0/cover no-repeat;
  margin-right: 15px;
}

.footer__bottom {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons__youtube {
  width: 26px;
  height: 26px;
}

.icons__vk {
  width: 24px;
  height: 24px;
}

.icons__facebook {
  width: 26px;
  height: 26px;
}

.icons__telegram {
  width: 24px;
  height: 24px;
}

.icons__etsy {
  width: 16px;
  height: 16px;
}

.header-listing {
  background: #333333;
}

.header-listing__wrapper {
  padding: 15px 0;
  min-height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 21px;
}

.header-listing__wrapper a {
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-listing__wrapper a:hover {
  color: #bf953f;
  text-decoration: underline;
}

.header-listing__wrapper a:active {
  color: #aa771c;
}

.header-listing__menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-listing__menu-list ul li:not(:last-child) {
  margin-right: 40px;
}

.header-listing__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-listing__right a:nth-child(2) {
  margin-right: 40px;
}

.header-listing__right a:nth-child(3) {
  margin-right: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-listing__right a:nth-child(3) svg {
  width: 16px;
  height: 16px;
}

.header-listing__right a:nth-child(3):hover {
  stroke: #bf953f;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.header-listing__right a:nth-child(3):active {
  stroke: #aa771c;
}

.header-listing__right a:nth-child(4) {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-listing__right a:nth-child(4) svg {
  width: 16px;
  height: 16px;
}

.header-listing__right a:nth-child(4):hover {
  stroke: #bf953f;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.header-listing__right a:nth-child(4):active {
  stroke: #aa771c;
}

.header-listing__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 26px 0 0;
}

.header-listing__search:hover svg {
  stroke: #bf953f;
}

.header-listing__search:active svg {
  stroke: #aa771c;
}

.header-listing__search svg {
  width: 18px;
  height: 18px;
  margin: 2px 16px 0 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-listing__burger {
  display: none;
}

.listing {
  padding: 50px 0;
  text-align: center;
}

.listing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listing__menu {
  width: 160px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.listing__menu svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 12px;
  height: 10px;
}

.listing__menu:hover .listing__menu-popup {
  opacity: 1;
  visibility: visible;
  top: 25px;
  left: 0;
}

.listing__menu:hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.listing__menu:hover {
  border-bottom: none;
}

.listing__menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.listing__menu-popup {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-width: 160px;
  top: 40px;
  left: 0;
  padding: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: white;
  border: 1px solid #d6d6d6;
  z-index: 99999;
}

.listing__menu-popup li {
  margin-bottom: 7px;
}

.listing__menu-popup li:last-child {
  margin: 0;
}

.listing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.listing__item {
  width: 350px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.listing__item img {
  margin-bottom: 25px;
  width: 280px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.listing__item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 10px;
}

.listing__item p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 25px;
}

.listing__item a {
  background-color: #333333;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 115px;
}

.listing__item a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #bf953f;
  border: 1px solid #bf953f;
}

.listing__item a:active {
  color: #aa771c;
  border: 1px solid #aa771c;
}

.listing__btn {
  width: 261px;
  height: 51px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  border: 1px solid #ffffff;
  -webkit-transition: color 0.1s, -webkit-transform 0.5s;
  transition: color 0.1s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, color 0.1s;
  transition: transform 0.5s, color 0.1s;
  transition: transform 0.5s, color 0.1s, -webkit-transform 0.5s;
}

.listing__btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  color: #bf953f;
  border: 1px solid #bf953f;
}

.listing__btn:active {
  color: #aa771c;
  border: 1px solid #aa771c;
}

.listing__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10% 10%;
}

.listing__bottom-left {
  max-width: 585px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 21px;
}

.listing__bottom-text {
  max-height: 150px;
  overflow: hidden;
  position: relative;
  display: block;
}

.listing__bottom-text::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 249, 249, 0)), color-stop(82.29%, #ffffff));
  background: -o-linear-gradient(top, rgba(249, 249, 249, 0) 0%, #ffffff 82.29%);
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #ffffff 82.29%);
}

.listing__bottom-text.active {
  overflow: visible;
}

.listing__bottom-btn {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px dashed #333333;
  padding-bottom: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.listing__bottom-btn:hover {
  color: #bf953f;
  border-bottom: 1px dashed #bf953f;
}

.listing__bottom-btn:active {
  color: #aa771c;
  border-bottom: 1px dashed #aa771c;
}

.listing__bottom-items {
  max-width: 300px;
  max-height: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listing__bottom-item {
  max-width: 90px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listing__bottom-item:nth-child(2) {
  margin: 0;
}

.listing__bottom-item:nth-child(4) {
  margin: 0;
}

.listing__bottom-item svg {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

.listing__bottom-subtitle {
  margin-bottom: 15px;
}

@media (max-width: 1146px) {
  .header__menu-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu-list ul li:nth-child(-n + 5) {
    margin-right: 55px;
  }

  .header__menu-list ul li:nth-child(n + 5):nth-child(-n + 6) {
    margin-right: 16px;
  }

  .tab-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    max-width: 300px;
    margin-bottom: 25px;
    margin-right: 25px;
  }

  .tab-header__item:nth-child(n + 4) {
    margin-bottom: 0;
  }

  .tab-header__item:nth-child(3),
  .tab-header__item:nth-child(6) {
    margin-right: 0;
  }

  .tab-content__item.active {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .tab-content__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 350px;
  }

  .advice__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advice__items a {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 350px;
    width: 100%;
    margin-bottom: 40px;
  }

  .advice__items a:nth-child(1) {
    margin-left: 20px;
  }

  .advice__items a:nth-child(3) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .advice__items a:nth-child(4) {
    display: block;
    margin-bottom: 0;
  }

  .socials__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .socials__items iframe {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 100%;
  }

  .socials__items a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 280px;
  }

  .socials__items a:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .socials__items a:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .socials__items a:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .socials__items a:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .socials__items a:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .socials__items a:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__items-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 255px;
    width: 100%;
    margin: 0 6% 4% 6%;
  }

  .footer__items-item:nth-child(n + 3) {
    margin-bottom: 0;
  }

  .listing__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .listing__menu {
    max-width: 280px;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333333%;
            flex: 0 1 33.333333%;
  }

  .listing__menu:nth-child(n + 4) {
    margin-bottom: 0;
  }

  .listing__menu-popup {
    min-width: 280px;
  }

  .listing__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .listing__bottom-left {
    margin-bottom: 50px;
  }

  .listing__bottom-items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .listing__bottom-item {
    margin-right: 60px;
  }

  .listing__bottom-item:nth-child(2) {
    margin-right: 60px;
  }
}

@media (max-width: 991.98px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .header__menu-list ul li:nth-child(-n + 3) {
    display: none;
  }

  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 320px;
    width: 100%;
    margin: 0;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 25px;
  }

  .tab-header__item:nth-child(-n + 4) {
    margin-bottom: 25px;
  }

  .header-listing__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .header-listing__menu-list {
    display: none;
  }

  .listing__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 863px) {
  .listing__menu:nth-child(n + 5) {
    margin-bottom: 0;
  }

  .listing__menu:nth-child(4) {
    margin-bottom: 30px;
  }
}

@media (max-width: 858px) {
  .mailing__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mailing__items ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 60px;
  }

  .mailing__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }

  .mailing__form::after {
    content: "";
    position: absolute;
    top: -19px;
    left: -20px;
    width: 300px;
    height: 200px;
    border: 1px solid #bf953f;
    z-index: -1;
  }

  .email {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .email::-webkit-input-placeholder {
    text-align: center;
  }

  .email::-moz-placeholder {
    text-align: center;
  }

  .email:-ms-input-placeholder {
    text-align: center;
  }

  .email::-ms-input-placeholder {
    text-align: center;
  }

  .email::placeholder {
    text-align: center;
  }

  .submit {
    width: 201px;
    padding: 15px 20px 14px 20px;
  }
}

@media (max-width: 803px) {
  .advice__items a {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .advice__items a:nth-child(3) {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    content: "";
    top: 0;
  }

  .header__burger::after {
    content: "";
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu-list ul li:nth-child(n + 3) {
    display: none;
  }

  .header__menu-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 250px;
    width: 100%;
    margin: 0;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 25px;
  }

  .tab-header__item:nth-child(-n + 4) {
    margin-bottom: 25px;
  }

  .tab-content__item.active {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .tab-content__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 350px;
  }

  .socials__items iframe {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }

  .socials__items iframe:last-child {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .socials__items a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 280px;
  }

  .header-listing__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    content: "";
    top: 0;
  }

  .header__burger::after {
    content: "";
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-listing__right {
    display: none;
  }

  .header-listing__right.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header-listing__menu-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 694px) {
  .footer__items-item {
    margin: 0 2% 4% 2%;
  }
}

@media (max-width: 633px) {
  .listing__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .listing__bottom-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .listing__bottom-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .listing__bottom-item:nth-child(2) {
    margin: 0;
  }

  .listing__bottom-item:nth-child(4) {
    margin: 0;
  }
}

@media (max-width: 632px) {
  .mailing__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mailing__items ul {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 583px) {
  .socials__items a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-width: 100%;
  }

  .listing__menu:nth-child(5) {
    margin-bottom: 30px;
  }
}

@media (max-width: 578px) {
  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }

  .footer__bottom li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 15px;
  }

  .footer__bottom li:first-child {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 0;
  }
}

@media (max-width: 551px) {
  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 200px;
    width: 100%;
    margin: 0;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 25px;
  }

  .tab-header__item:nth-child(-n + 4) {
    margin-bottom: 25px;
  }
}

@media (max-width: 479.98px) {
  .main__top h1 {
    min-width: 375px;
  }

  .main__btn {
    margin-bottom: 10px;
  }

  .tab-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 350px;
    width: 100%;
  }

  .tab-header__item:nth-child(even) {
    margin-left: 0;
  }

  .tab-header__item:nth-child(-n + 5) {
    margin-bottom: 25px;
  }

  .tab-content__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 350px;
    width: 100%;
  }
}

@media (max-width: 333px) {
  .listing__bottom-item {
    max-width: 85px;
  }
}
@supports (-webkit-appearance:none){
.firstscreen{background:url("../img/topbackground.webp") center/cover no-repeat}
.oursalons{background:url("../img/oursalonsbg.webp") center/cover no-repeat}
.mailing{background:url("../img/oursalonsbg.webp") center/cover no-repeat}
.mailing__items ul li::before{background:url("../img/icons/icons.svg#subscribe") 0 0/cover no-repeat}
.footer__item-mail::before{background:url("../img/icons/icons.svg#mail") 0 0/cover no-repeat}
}

 @media (max-width: 1146px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 863px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 858px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 803px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 694px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 633px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 632px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 583px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 578px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 551px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 333px){

@supports (-webkit-appearance:none){

}

}
